@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Silka';
    src: url('../public/fonts/silka-regular.woff2') format('woff2'),
      url('../public/fonts/silka-regular.woff') format('woff');
  }

  * {
    @apply transition-all selection:bg-blue-400 selection:text-white;
  }

  .link {
    @apply cursor-pointer text-sky-600 underline decoration-sky-600 decoration-1;
  }
}

.swiper-pagination-bullet {
  @apply bg-white  w-3 h-3;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 13%;
}
